*{
	margin:0;
	padding:0;
}

body{
	background:#ebebeb;
}


#header{
	margin-bottom:20px;
	border-bottom:solid 1px #ccc;
	background:#fff;
	overflow:hidden;
}

a.logo{
	text-transform:uppercase;
	font-size:65px;
	line-height:normal;
}

ul.nav{
	float:left;
	margin-top:15px;
}

ul.nav > li{
	display:block;
	float:left;
	margin:0 10px;
}

.iBlock{
	display:inline-block;
	vertical-align:middle;
}

.clear{
	clear:both;
}

.input-row{
	margin-bottom:15px;
	width:100%;
}
.input-row.half-left{
	width:48%;
	float:left;
}
.input-row.half-right{
	width:48%;
	float:right;
}

.input-label{
	margin-bottom:3px;
	font-weight:bold;
}

.input-row input[type="text"],.input-row input[type="number"]{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	padding:5px;
	border:solid 1px #ccc;
	width:100%;
}


.loader{
	display:none;
}

.results-wrapper{
	display:none;
}


/* global default */
a{text-decoration:none;}
a:hover{text-decoration:none;}
h1,h2,h3,h4,h5,h6{text-transform:uppercase;margin:0 0 20px 0;}
/* global default */